@import "tailwindcss";

.square{
    font-size: 150px;
    border: solid 5px black;
    border-radius: 30px;
    margin: 15px;
}


/* Button Styles */
button {
    padding: 10px;
    background-color: rgb(210, 230, 230);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.3s ease-in-out, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: perspective(500px) translateZ(0);
}

